body {
    background-color: goldenrod;
}

h1, p#description {
    text-align: center;
}

h1 {
    background-color: beige;
    border: 1px solid black;
}

form, h1 {
    width: 80vw;
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
}

label, input {
    width: 100%;
    display: block;
}