body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    min-height: calc(100vh - 1em);
    margin: 0;
    color: white;
}

div.main-div {
    background-color: #3e065f;
    border: 5px double white;
    width: 80vw;
    min-width: 300px;
    max-width: 500px;
    margin: 1em auto;
    padding: 0.5em 1em 1em 1em;
}

h1, p#description {
    text-align: center;
}

h1 {
    background-color: #8e05c2;
    border: 2px solid white;
    padding: 0.5em 0;
}

fieldset:not(:last-of-type) {
    margin-bottom: 1em;
}

label, input {
    width: 100%;
    display: block;
}

label {
    margin: 0.5em 0;
}

input[type="submit"] {
    margin-top: 0.75em;
    background-color: #7a0bc0;
    border: 2px solid white;
    color: white;
}

input, option {
    height: 2em;
}

select {
    width: 50%;
    height: 2.5em;
    color: black;
}

.check-label {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}

input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}

option {
    color: black;
}